<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/carrito-compras.css">
    <title>Carrito</title>
</head>
<body>

    
        <section class="hamburguesa">
                <section class="hamburguesa__logo"></section>
                <section class="hamburguesa__icono"></section>
              </section>
              <section class="hamburguesa__menu"></section>
            
            
              <header class="encabezado">
            
                <section class="logo">
                  <img src="../images/logo-letra-blanca.png" alt="Logo" class="logo">
                </section>
            
                <nav class="navegacion-bar">
                  <div class="servicios">
                    <ul>
                      <a href="#">
                        <li>La Institución</li>
                      </a>
                      <a href="#">
                        <li>Noticias</li>
                      </a>
                      <a href="#">
                        <li>Biblioteca</li>
                      </a>
                      <a href="#">
                        <li>Educate ya!</li>
                      </a>
                      <br>
                      <a href="#">
                        <li>Programas</li>
                      </a>
                      <a href="#">
                        <li>Admisiones</li>
                      </a>
                      <a href="#">
                        <li>Contacto</li>
                      </a>
                      <a href="#">
                        <li>Tienda</li>
                      </a>
                    </ul>
                  </div>
                </nav>
                <div class="identificador">
                  <ul>
                    <a href="#">
                      <li>Mail</li>
                    </a>
                    <a href="#">
                      <li>Moodle</li>
                    </a>
                    <br>
                    <a href="#">
                      <li>¿Quién Soy?</li>
                    </a>    
                  </ul>
                </div>
              </header>


              <div class="divisiones-horizontales">

                <div class="lista-compras">
                  <h3 class="carrito-titulo">CARRITO DE COMPRAS</h3>
                  
                  <div class="productos">
                    <div class="producto-item">
                      <div class="imagen-producto">
                        <img src="https://http2.mlstatic.com/morral-maletin-totto-S_707146-MCO27623448798_062018-F.jpg" alt="">
                      </div>
                      <div class="info-producto">
                        <h4>Maletin Totto</h4>
                        <p>NUEVO</p>
                        <div class="cantidad-div">
                          <p>Cantidad:</p>  

                          <select>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                             
                            </select>
                        </div>
                        <h4 class="precio-producto">$ 190.000</h4>
                      </div>
                    </div>

                    <div class="producto-item">
                        <div class="imagen-producto">
                          <img src="https://http2.mlstatic.com/morral-maletin-totto-S_707146-MCO27623448798_062018-F.jpg" alt="">
                        </div>
                        <div class="info-producto">
                          <h4>Maletin Totto</h4>
                          <p>NUEVO</p>
                          <div class="cantidad-div">
                            <p>Cantidad:</p>  
  
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                               
                              </select>
                          </div>
                          <h4 class="precio-producto">$ 190.000</h4>
                        </div>
                      </div>

                      <div class="producto-item">
                          <div class="imagen-producto">
                            <img src="https://http2.mlstatic.com/morral-maletin-totto-S_707146-MCO27623448798_062018-F.jpg" alt="">
                          </div>
                          <div class="info-producto">
                            <h4>Maletin Totto</h4>
                            <p>NUEVO</p>
                            <div class="cantidad-div">
                              <p>Cantidad:</p>  
    
                              <select>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                 
                                </select>
                            </div>
                            <h4 class="precio-producto">$ 190.000</h4>
                          </div>
                        </div>

                        <div class="producto-item">
                            <div class="imagen-producto">
                              <img src="https://http2.mlstatic.com/morral-maletin-totto-S_707146-MCO27623448798_062018-F.jpg" alt="">
                            </div>
                            <div class="info-producto">
                              <h4>Maletin Totto</h4>
                              <p>NUEVO</p>
                              <div class="cantidad-div">
                                <p>Cantidad:</p>  
      
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                   
                                  </select>
                              </div>
                              <h4 class="precio-producto">$ 190.000</h4>
                            </div>
                          </div>

                          <div class="producto-item">
                              <div class="imagen-producto">
                                <img src="https://http2.mlstatic.com/morral-maletin-totto-S_707146-MCO27623448798_062018-F.jpg" alt="">
                              </div>
                              <div class="info-producto">
                                <h4>Maletin Totto</h4>
                                <p>NUEVO</p>
                                <div class="cantidad-div">
                                  <p>Cantidad:</p>  
        
                                  <select>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                     
                                    </select>
                                </div>
                                <h4 class="precio-producto">$ 190.000</h4>
                              </div>
                            </div>







                  </div>

                </div>

                <div class="resumen-pedido">
                  <h3>RESUMEN DE TU PEDIDO</h3>
                 <div class="resumen-renglon">
                   <p>Subtotal</p>
                   <p>$190.000</p>
                 </div>
                 <div class="resumen-renglon">
                    <p>Envío</p>
                    <p>$20.000</p>
                  </div>
                  <div class="resumen-renglon">
                      <p>Impuestos</p>
                      <p>$8.000</p>
                    </div>
                    <div class="resumen-renglon">
                        <p>Cupón</p>
                        <p>$-5.000</p>
                      </div>
                      <div class="resumen-renglon">
                            <p><b>TOTAL</b></p>
                            <p class="valor-total"><b>$213.000</b></p>                      
                        </div>

                        
                            <a href="#">
                            <button class="boton">PROCESAR COMPRA</button>
                            </a>
                </div>
              
              </div>
</body>
</html>