$color-ppal: #070741;
$color-sec:#F4F1F1;
$color-font-ppal: #ffffff;
$text-size-ppal: 20px;
$color-azul-sec: #007ACC;

@font-face{
  font-family: "montserrat";
  src: url("Montserrat-Light.ttf");
}



::-webkit-scrollbar {
  z-index: 999;
  position: fixed;
  width: 20px;
}

::-webkit-scrollbar-track {
  z-index: 999;
  position: fixed;
  box-shadow: inset 0 0 5px grey; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  z-index: 999;
  position: fixed;
  background: $color-azul-sec; 
}


body, html{
  
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "montserrat", cursive;
  
  a{
    font-family: "montserrat", cursive;
    text-decoration: none;
  }
  
  
  a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
  }
}


.hamburguesa{  
  
  z-index: 99;
  position: fixed;
  display: none;
  width: 95.5%;
  height: 60px;
  background: $color-ppal;
  &__logo{
    img{
      width: auto;
      height: 50px;
    }
  }

  &__icono{
    z-index: 99;
    position: fixed;
    margin: 10px;
    margin-right: 20px;
    right: 0;
    top: 0;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }

  &__menu{
display: flex;
flex-direction: column;
position: fixed;
margin-top: 60px;
width: 95.5%;
background-color: $color-ppal;
color: white;
z-index: 99;
transition: all .5s ease;

a:link, a:visited {
  color: white;
}


li{
  list-style: none;
  padding: 10px;

  &:hover{
    background-color: $color-azul-sec;
  }
}

  }
}


.encabezado{
  background-color: $color-ppal;
  display: flex;
  flex-direction: row;
  color: $color-font-ppal;
  font-size: $text-size-ppal;
}

.logo{
  width: 350px;
}

.navegacion-bar{
  
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: initial;
  align-content: center;
  align-items: center;

  a{
    text-decoration: none;
  }
  a:link, a:visited {
    color: white;
  }
  a:hover {
    color: rgb(200, 200, 200);
  }
  
  
  ul{
    list-style-type: none;
    display: inline;
    padding-inline-start: 0px;
    
  }
  
  li{
    
    display: inline-block;
    margin: 10px;
    margin-right: 20px;
  }
}

.identificador{

  a{
    text-decoration: none;
  }
  a:link, a:visited {
    color: white;
  }
  a:hover {
    color: rgb(200, 200, 200);
  }
  
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  text-align: center;

  ul{
    list-style-type: none;
    display: inline;
    padding-inline-start: 0px;
    
  }
  
  li{          
    display: inline-block;
    margin: 10px;          
  }
}


.divisiones-horizontales{
  display: flex;
  flex-direction: row;
}

.datos-envio{
  width: 820px;
  border: solid rgba(185, 185, 185, 0.596) 1px;
  border-radius: 3px;
  margin: 70px;
  margin-right: 0px;
  margin-top: 20px;
  padding: 30px;
  padding-top: 5px;
  margin-bottom: 20px;


  .datos-div-horizontal{
    display: flex;
    flex-direction: row;

    p{
      margin-bottom: 5px;
    }

    input, select{
      height: 30px;
      padding-left: 5px;
      border-radius: 3px;
      width: 350px;
      border: solid rgba(192, 192, 192, 0.568) 1px;
    }

    select{
      height: 35px;
      width: 360px;
    }

.envio-part2{
  margin-left: 50px;
}

  }
}

.metodo-pago{
  margin-top: 0;

}




.resumen-pedido{
  border: solid rgba(189, 189, 189, 0.644) 1px;
  border-radius: 3px;
  width: 300px;
  height: 100%;
  margin: 65px;
  margin-top: 20px;
  margin-left: 15px;
  padding: 30px;
  padding-top: 5px;


  .resumen-renglon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: solid rgba(184, 184, 184, 0.616) 1px;
    margin-bottom: 15px;

    p{
      margin: 0;
    }

    .valor-total{
      color: $color-ppal;
    }
    
    
  }
  
  .boton{
    width: 100%;
    height: 50px;
    border: solid white 1px;
    border-radius: 5px;
    background: #007ACC;
    color: white;
  }

  button:hover{
    background: #0062a3;
}
}


footer{
  display: flex;
  flex-direction: column;
  background: $color-ppal;
  color: white;
  padding: 20px; 
  text-align: center;
  
  .logo{
    padding-left: 50px;
    width: 400px;
  }
  
  
  .columnas-footer{
    padding-left: 100px;
    display: flex;
    flex-direction: row;
  }
  
  .filas-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .informacion-sedes{    
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
    p{
      text-align: right;
      margin: 5px;
    }
    
    .p-derecha{
      border-left: 2px solid white;
      text-align: left;
      padding-left: 15px;
    }
  }
  
  
  .enlaces-footer{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    text-align: left;
    
    p{
      margin-top: 0px;
    }
    
    a{
      color: white;
    }
    
  }
  
  .redes-sociales{
    display: flex;
    flex-direction: row;
    
    img{
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
  }
}