@font-face {
  font-family: "montserrat";
  src: url("Montserrat-Light.ttf");
}

::-webkit-scrollbar {
  z-index: 999;
  position: fixed;
  width: 20px;
}

::-webkit-scrollbar-track {
  z-index: 999;
  position: fixed;
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  z-index: 999;
  position: fixed;
  background: #007ACC;
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "montserrat", cursive;
}

body a, html a {
  font-family: "montserrat", cursive;
  text-decoration: none;
}

body a:hover, html a:hover {
  color: #c8c8c8;
  text-decoration: underline;
}

.hamburguesa {
  z-index: 99;
  position: fixed;
  display: none;
  width: 95.5%;
  height: 60px;
  background: #070741;
}

.hamburguesa__logo img {
  width: auto;
  height: 50px;
}

.hamburguesa__icono {
  z-index: 99;
  position: fixed;
  margin: 10px;
  margin-right: 20px;
  right: 0;
  top: 0;
  background-image: url("../images/menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.hamburguesa__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  margin-top: 60px;
  width: 95.5%;
  background-color: #070741;
  color: white;
  z-index: 99;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hamburguesa__menu a:link, .hamburguesa__menu a:visited {
  color: white;
}

.hamburguesa__menu li {
  list-style: none;
  padding: 10px;
}

.hamburguesa__menu li:hover {
  background-color: #007ACC;
}

.encabezado {
  background-color: #070741;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  font-size: 20px;
}

.logo {
  width: 350px;
}

.navegacion-bar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-bar a {
  text-decoration: none;
}

.navegacion-bar a:link, .navegacion-bar a:visited {
  color: white;
}

.navegacion-bar a:hover {
  color: #c8c8c8;
}

.navegacion-bar ul {
  list-style-type: none;
  display: inline;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.navegacion-bar li {
  display: inline-block;
  margin: 10px;
  margin-right: 20px;
}

.identificador {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.identificador a {
  text-decoration: none;
}

.identificador a:link, .identificador a:visited {
  color: white;
}

.identificador a:hover {
  color: #c8c8c8;
}

.identificador ul {
  list-style-type: none;
  display: inline;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.identificador li {
  display: inline-block;
  margin: 10px;
}

.divisiones-horizontales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.lista-compras {
  padding-left: 70px;
  width: 825px;
}

.lista-compras .carrito-titulo {
  padding: 10px;
  border-bottom: solid gray 1px;
}

.producto-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  border-bottom: solid rgba(197, 197, 197, 0.637) 1px;
}

.producto-item img {
  width: 150px;
}

.producto-item .info-producto {
  margin-left: 20px;
}

.producto-item .info-producto h4 {
  margin: 0;
  margin-top: 15px;
}

.producto-item .info-producto p {
  margin: 0;
}

.producto-item .info-producto .cantidad-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
}

.producto-item .info-producto .cantidad-div select {
  margin-left: 10px;
}

.producto-item .info-producto .precio-producto {
  color: #070741;
  font-size: 15pt;
}

.resumen-pedido {
  border: solid rgba(189, 189, 189, 0.644) 1px;
  border-radius: 3px;
  width: 300px;
  height: 100%;
  margin: 65px;
  padding: 30px;
  padding-top: 5px;
}

.resumen-pedido .resumen-renglon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid rgba(184, 184, 184, 0.616) 1px;
  margin-bottom: 15px;
}

.resumen-pedido .resumen-renglon p {
  margin: 0;
}

.resumen-pedido .resumen-renglon .valor-total {
  color: #070741;
}

.resumen-pedido .boton {
  width: 100%;
  height: 50px;
  border: solid white 1px;
  border-radius: 5px;
  background: #007ACC;
  color: white;
}

.resumen-pedido button:hover {
  background: #0062a3;
}
/*# sourceMappingURL=carrito-compras.css.map */